* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img,
video {
  width: 100%;
  height: auto;
  display: block;
}

@font-face {
  font-family: "TmonMonsori";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.logo {
  font-family: "TmonMonsori";
}
header {
  width: 100%;
  height: 10%;
  background-color: black;
  color: aliceblue;
  font-size: 15px;
}
.navbar a {
  color: white;
  font-size: 3.5vw;
  justify-content: space-between;
  text-decoration: none;
  display: flex;
  padding-bottom: 20px;
}
.navbar a:hover {
  color: rgb(241, 198, 8);
}
.navbar.show {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-family: GmarketSansMedium;
}
.navbar {
  display: none;
}
.burger {
  display: block;
  color: var(--primary-color);
  font-size: 20px;
  padding-left: 20px;
}
footer {
  width: 100%;
  height: auto;
  background-color: black;
  color: aliceblue;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.get_help,
.guide {
  justify-content: left;
  padding: 20px;
  line-height: 30px;
}

.inc {
  display: flex;
  text-align: left;
}
.footer_sub {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  padding: 20px 20px;
}
.sub {
  border: 1px solid white;
  background-color: white;
  color: #000309;
  width: 100px;
  height: 40px;
  text-align: center;
  margin-top: 10px;
  padding: 8px 10px 10px 10px;
  border-radius: 15px;
}
.bgr_img {
  width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
}
.main-container {
  display: grid;
  place-items: center;
}
.bgr_img,
.flex_col {
  grid-area: 1/1;
}
.flex_col {
  margin: 0px;
}
.title {
  font-size: 40px;
  font-family: "TmonMonsori";
  color: white;
}
.shop_nu {
  font-size: 20px;
  font-family: "TmonMonsori";
  background-color: #000309;
  padding: 10px;
  width: 140px;
}
.shop_nu a {
  text-decoration: none;
  color: white;
}
.shop_nu a:hover {
  text-decoration: none;
  color: rgb(245, 214, 18);
}

.kategori_liste {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 10px;
}
.Apparel,
.Accesories,
.Footwear,
.free_items,
.personal_care,
.sporting_goods {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.Apparel h3,
.Accesories h3,
.Footwear h3,
.free_items h3,
.personal_care h3,
.sporting_goods h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

h1,
.under_kategori {
  padding-left: 20px;
}
.under_kategori {
  padding: 20px;
  border-bottom: 1px solid black;
}
.under_kategori a {
  text-decoration: none;
  color: #000309;
  padding-right: 20px;
}
#kategori,
#produktliste_,
#produkt_details {
  max-width: 1200px;
  margin: 0 auto;
}
.produktlisteContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.produkt_article,
.sold_out {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overskrift {
  padding: 30px 0 20px 20px;
}
.overskrift a {
  text-decoration: none;
  font-family: "TmonMonsori";
  color: #000309;
}
.produktliste_image_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.produktliste_image {
  max-width: 100%;
  height: auto;
}
.articletype {
  color: gray;
}

.prev,
.produkt_prev {
  text-decoration: line-through;
}
.now,
.produkt_now {
  color: red;
}
.discounted {
  display: flex;
  color: rgb(246, 241, 241);
  background: red;
  padding: 0.2rem;
  width: 60px;
  text-align: center;
}
.discount .percent {
  display: flex;
  justify-content: flex-end;
}
.now {
  margin-right: 10px;
}
.produkt_now {
  font-weight: bold;
}
.read_more {
  text-decoration: underline;
  color: rgb(35, 35, 158);
}

.sold_out_sale img,
.sold_out img {
  opacity: 50%;
}

.sold_out::before,
.sold_out_sale::before {
  content: "Sold Out";
  position: absolute;
  background: rgb(11, 0, 0);
  color: rgb(240, 235, 235);
  padding: 1rem;
}
.produkt {
  padding: 10px 40px;
}
.breadcrumbs {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-bottom: 100px;
  flex-wrap: wrap;
}
.breadcrumbs li::after {
  content: " > ";
  font-size: 0.5rem;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 10px;
}
.breadcrumbs li:last-child::after {
  background: none;
  content: "";
}
.breadcrumbs a {
  text-decoration: none;
}
.produkt_information {
  padding-top: 20px;
}
.produkt_soldout {
  color: red;
  font-weight: bold;
}
.produkt_discounted {
  display: flex;
}
.discount_percent {
  margin-left: 10px;
  border: 1px solid rgb(246, 4, 4);
  padding: 0 10px;
  background-color: rgb(246, 4, 4);
  color: white;
}
.information dt,
label {
  font-weight: bold;
}
.information {
  padding-top: 10px;
}
button {
  border: 1px solid black;
  padding: 10px;
  width: 180px;
  background-color: #000309;
  color: aliceblue;
  margin: 30px 0;
}
.explore {
  text-align: center;
  padding-top: 20px;
}

@media screen and (min-width: 700px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 50px 0 50px;
  }
  .navbar a {
    font-size: 1vw;
  }
  .burger {
    display: none;
  }
  footer {
    width: 100%;
    height: auto;
    background-color: black;
    color: aliceblue;
    font-size: 14px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .get_help,
  .guide,
  .footer_sub {
    margin: 0 auto;
    padding: 20px 0;
    line-height: 30px;
  }
  .subscribe {
    display: flex;
  }

  .sub {
    border: 1px solid white;
    background-color: white;
    color: #000309;
    width: 100px;
    height: 40px;
    text-align: center;
    padding: 3px 10px 10px 10px;
    margin-top: 0;
    font-weight: bold;
    border-radius: 15px;
    margin-left: 10px;
  }
  .main-container {
    display: grid;
    place-items: start;
  }
  .flex_col {
    margin: 200px 0 0 200px;
  }
  .title {
    font-size: 80px;
  }
  .shop_nu {
    font-size: 40px;
    padding: 20px;
    width: 280px;
  }

  h1 {
    text-align: center;
    padding: 40px 0 10px 40px;
  }

  .kategori_liste {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-template-rows: repeat(2, minmax(150px, 1fr));
    gap: 10px;
    margin-bottom: 70px;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
  }
  .Apparel,
  .Accesories,
  .Footwear,
  .free_items,
  .personal_care,
  .sporting_goods {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }

  .Apparel h3,
  .Accesories h3,
  .Footwear h3,
  .free_items h3,
  .personal_care h3,
  .sporting_goods h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }
  .produktlisteContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 2rem;
    padding-bottom: 150px;
    padding-top: 20px;
  }
  .produktliste article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
  }

  .produktliste_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
  }

  .articletype {
    color: gray;
  }

  .discounted {
    display: flex;
    justify-content: center;
  }

  .produkt_prev,
  .produkt_now {
    font-size: 16px;
  }

  .produkt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding-bottom: 180px;
  }
  .information {
    padding-top: 20px;
  }

  h4 {
    color: gray;
  }
  .select {
    display: flex;
    height: 2.5rem;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
  }
  .produkt_information {
    padding-left: 20%;
  }
  .produkt_soldout {
    color: red;
    font-weight: bold;
  }
  .produkt_discounted {
    display: flex;
  }
}
